.signUp_form{
  width: 800px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-50%, -50%);
}

.signUp_inputId,
.signUp_inputPW,
.signUp_inputPWCheck {
  margin: 0 auto;
    width: 300px;
    height: 50px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;
}

.signUp_warning {
  height: 20px;
  text-align: center;
  font-size: 13px;
  color: red;
}

.signUp_button {
  margin: 0 auto;
  width: 330px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: #3498DB;
  cursor: pointer;
  color: white;
  font-size: 18px;
}